<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Wear OS companion: "+250 ml" and "send again" from the user's own paired watch. -->
        <service
            android:name=".wear.WearActionService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/neutrino/action"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>
</manifest>
